:root {
    --primary-color: #096c8a;
    --secondary-color: #26692998;
    --accent-color: #fbbc05;
    --text-color: #202124;
    --light-text: #5f6368;
    --background-color: #f8f9fa;
    --white: #ffffff;
    --sidebar-bg: #2c3e50;
    --sidebar-text: #ecf0f1;
    --sidebar-active: #3498db;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
    --base-font-size: 1rem;
}

html{ 
     font-size: var(--base-font-size);
}
#imgs{
    border-radius: 6px;
}
@media (max-width: 768px) {
    #imgs{
    width: 100%;
}
    }